/*******************************************
****** Anchor Tags
*******************************************/
a {
  @apply text-link;

  &:hover {
    @apply underline;
  }
}

/*******************************************
****** Headings
*******************************************/
$headings: ("h1": "text-5xl", "h2": "text-4xl", "h3" : "text-3xl", "h4" : "text-2xl", "h5" : "text-xl", "h6" : "text-lg");
@each $tag, $class in $headings {
  .#{$tag} {
    @apply #{$class} font-sans leading-snug;
  }
}

/*******************************************
****** Alerts
*******************************************/
.alert {
  @apply px-4 py-2.5 bg-primary text-primary-alt rounded-lg shadow-md shadow-primary/20;

  &.alert-light {
    @apply bg-primary/10 text-primary;
  }

  &-success {
    @apply bg-success text-success-alt shadow-success/20;

    &.alert-light {
      @apply bg-success/10 text-success;
    }
  }

  &-error {
    @apply bg-error text-error-alt shadow-error/20;

    &.alert-light {
      @apply bg-error/10 text-error;
    }
  }

  &-info {
    @apply bg-info text-error-alt shadow-info/20;

    &.alert-light {
      @apply bg-info/10 text-info;
    }
  }

  &-warning {
    @apply bg-warning text-error-alt shadow-warning/20;

    &.alert-light {
      @apply bg-warning/10 text-warning;
    }
  }
}

/*******************************************
****** Buttons
*******************************************/
.btn {
  @apply bg-muted px-6 py-2 text-sm text-muted-alt rounded-md;

  &.btn-primary {
    @apply bg-primary text-primary-alt;

    &:hover { @apply bg-primary/90; }

    &.btn-light {
      @apply bg-primary/10 text-primary;
      &:hover { @apply bg-primary/20 }
    }
  }

  &.btn-secondary {
    @apply bg-secondary text-secondary-alt;
    &:hover { @apply bg-secondary/90; }

    &.btn-light {
      @apply bg-secondary/10 text-secondary;
      &:hover { @apply bg-secondary/20 }
    }
  }

  &.btn-muted {
    @apply bg-muted text-muted-alt;
    &:hover { @apply bg-muted/90; }

    &.btn-light {
      @apply bg-muted/10 text-muted;
      &:hover { @apply bg-muted/20 }
    }
  }

  &.btn-disabled {
    @apply bg-muted/50 text-muted-alt;
    &:hover { @apply cursor-not-allowed; }

    &.btn-light {
      @apply bg-muted/10 text-muted/50;
      &:hover { @apply bg-muted/20 }
    }
  }

  &.btn-link {
    @apply bg-transparent text-link;
    &:hover { @apply underline }
  }

  &.btn-processing {
    @apply relative text-transparent bg-transparent cursor-not-allowed;

    &.btn-light {
      @apply text-transparent bg-transparent;
    }

    &:after {
      content: '';
      box-sizing: border-box;
      border-radius: 50%;
      @apply absolute animate-spin border-4 border-primary/20 border-t-primary w-5 h-5 -ml-2.5 -mt-2.5 top-1/2 left-1/2;
    }

    &.btn-primary {
      @apply text-transparent bg-transparent;
      &:after { @apply border-primary/20 border-t-primary; }
    }

    &.btn-secondary {
      &:after { @apply border-secondary/20 border-t-secondary; }
    }

    &.btn-muted {
      &:after { @apply border-muted/20 border-t-muted; }
    }

    &.btn-link {
      &:after { @apply border-link/20 border-t-link; }
    }
  }

  &.btn-sm {
    @apply px-4 py-1 rounded;

    &:after {
      @apply w-4 h-4 -ml-2 -mt-2 border-2;
    }
  }
}

/*******************************************
****** Forms
*******************************************/
.input {
  @apply px-3 py-2.5 text-sm rounded-lg w-full;
  @apply text-input-text bg-input-bg border border-input-border;

  &::placeholder {
    @apply text-input-placeholder italic;
  }

  &:focus {
    @apply outline-none ring-0 border-input-border-focus text-input-text-focus;
  }
}